<section id="Huei-region" class="">
  <div class="flex-message-page">
    <!--左側導覽列-->
    <section class="left-region-sidebar">
      {{> home-tabs-middleware-ByYS route='notice'}}
    </section>

    <div class="privacy-notice">
      <div class="user-notice-top">
        <span>
          通知
        </span>
      </div>
      <ul class="ul-user-notice">
        <li class="li-user-notice">
          <a class="" href="/users/{{user.id}}/tweets">
            <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/icon/logo-gray.png{{/if}}" alt="Picture"
              class="img-user-avatar">
          </a>
          <div class="div-user-notice-title">
            What is Vue?
          </div>
          <div class="div-user-notice-content">
            Vue is a JavaScript framework for building user interfaces. It builds on top of standard
            HTML, CSS and JavaScript, and provides a declarative and component-based programming model that helps you
            efficiently develop user interfaces, be it simple or complex.
          </div>
        </li>

        <li class="li-user-notice">
          <a class="" href="/users/{{user.id}}/tweets">
            <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/icon/logo-gray.png{{/if}}" alt="Picture"
              class="img-user-avatar">
          </a>
          <div class="div-user-notice-title">
            What is Vue?
          </div>
          <div class="div-user-notice-content">
            Vue is a JavaScript framework for building user interfaces. It builds on top of standard
            HTML, CSS and JavaScript, and provides a declarative and component-based programming model that helps you
            efficiently develop user interfaces, be it simple or complex.
          </div>
        </li>

        <li class="li-user-notice">
          <a class="" href="/users/{{user.id}}/tweets">
            <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/icon/logo-gray.png{{/if}}" alt="Picture"
              class="img-user-avatar">
          </a>
          <div class="div-user-notice-title">
            What is Vue?
          </div>
          <div class="div-user-notice-content">
            Vue is a JavaScript framework for building user interfaces. It builds on top of standard
            HTML, CSS and JavaScript, and provides a declarative and component-based programming model that helps you
            efficiently develop user interfaces, be it simple or complex.
          </div>
        </li>

        <li class="li-user-notice">
          <a class="" href="/users/{{user.id}}/tweets">
            <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/icon/logo-gray.png{{/if}}" alt="Picture"
              class="img-user-avatar">
          </a>
          <div class="div-user-notice-title">
            What is Vue?
          </div>
          <div class="div-user-notice-content">
            Vue is a JavaScript framework for building user interfaces. It builds on top of standard
            HTML, CSS and JavaScript, and provides a declarative and component-based programming model that helps you
            efficiently develop user interfaces, be it simple or complex.
          </div>
        </li>

        <li class="li-user-notice">
          <a class="" href="/users/{{user.id}}/tweets">
            <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/icon/logo-gray.png{{/if}}" alt="Picture"
              class="img-user-avatar">
          </a>
          <div class="div-user-notice-title">
            What is Vue?
          </div>
          <div class="div-user-notice-content">
            Vue is a JavaScript framework for building user interfaces. It builds on top of standard
            HTML, CSS and JavaScript, and provides a declarative and component-based programming model that helps you
            efficiently develop user interfaces, be it simple or complex.
          </div>
        </li>

        <li class="li-user-notice">
          <a class="" href="/users/{{user.id}}/tweets">
            <img src="{{#if user.avatar}}{{user.avatar}}{{else}}/images/icon/logo-gray.png{{/if}}" alt="Picture"
              class="img-user-avatar">
          </a>
          <div class="div-user-notice-title">
            What is Vue?
          </div>
          <div class="div-user-notice-content">
            Vue is a JavaScript framework for building user interfaces. It builds on top of standard
            HTML, CSS and JavaScript, and provides a declarative and component-based programming model that helps you
            efficiently develop user interfaces, be it simple or complex.
          </div>
        </li>

      </ul>
    </div>


    <section class="left-region-sidebar">
      {{> notice-user-tabs-middleware}}
    </section>
  </div>
</section>